* {
    box-sizing:border-box;
}
:root {
    --grow-time: 5s;
    --fade-time: 3s;
  }
  
select{
    font-family: "微软雅黑";
    margin:10px;
    background: rgba(0,0,0,0);
    width: 249px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    border: 1px #1a1a1a solid;
    border-radius: 5px;
}
option{
    color: black;
    background: #A6E1EC;
    line-height: 20px;
}
select:focus{
    border: 2px #ddd solid;
    box-shadow: 0 0 15px 1px #DDDDDD;
}
option:hover{
    background: #EBCCD1;
}
  
  .controls {
    position: relative;
    z-index: 2;
  }
  
  .controls__label {
    display: block;
    font-family: Menlo;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .controls__slider {
    width: 200px;
  }
  
  .circle {
    -webkit-animation: grow var(--grow-time) forwards, fade var(--fade-time) calc(var(--grow-time) - var(--fade-time)) forwards;
            animation: grow var(--grow-time) forwards, fade var(--fade-time) calc(var(--grow-time) - var(--fade-time)) forwards;
    background: #81ecec;
    border-radius: 100%;
    height: 2px;
    left: 20vw;
    position: absolute;
    top: 20vh;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    width: 2px;
  }
  
  @-webkit-keyframes grow {
    0% {
      -webkit-transform: translateZ(0) scale(0);
              transform: translateZ(0) scale(0);
    }
    
    100% {
      -webkit-transform: translateZ(0) scale(100);
              transform: translateZ(0) scale(100);
    }
  }
  
  @keyframes grow {
    0% {
      -webkit-transform: translateZ(0) scale(0);
              transform: translateZ(0) scale(0);
    }
    
    100% {
      -webkit-transform: translateZ(0) scale(100);
              transform: translateZ(0) scale(100);
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    
    100% {
      opacity: 0;
    }
  }
body {
    font-family:'Montserrat',sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:-20px 0 50px;
    background-color: aqua;
    overflow: hidden;
  padding-top: 80px;
  text-align: center;
}

h1 {
    font-weight:bold;
    margin:0;
}
p {
    font-size:14px;
    line-height:20px;
    letter-spacing:.5px;
    margin:20px 0 30px;
}
span {
    font-size:12px;
}
a {
    color:#333;
    font-size:14px;
    text-decoration:none;
    margin:15px 0;
}
.dowebok {
    background:#fff;
    border-radius:10px;
    box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    position:relative;
    overflow:hidden;
    width:70%;
    max-width:100%;
    min-height:80%;
    margin-bottom: 60px;
}
.form-container form {
    background:#fff;
    display:flex;
    flex-direction:column;
    padding:0 50px;
    height:100%;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.social-container {
    margin:20px 0;
}
.social-container a {
    border:1px solid #ddd;
    border-radius:50%;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:0 5px;
    height:40px;
    width:40px;
}

.social-container a:hover {
    background-color:#eee;
}
.form-container input {
    background:#eee;
    border:none;
    padding:12px 15px;
    margin:8px 0;
    width:100%;
    outline:none;
}
button {
    border-radius:20px;
    border:1px solid lightseagreen;
    background:lightseagreen;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    padding:12px 45px;
    letter-spacing:1px;
    text-transform:uppercase;
    transition:transform 80ms ease-in;
    cursor:pointer;
}
button:hover{
    box-shadow: 1px 1px  black;
}
button:active {
    transform:scale(.95);
}
button:focus {
    outline:none;
}
button.ghost {
    background:transparent;
    border-color:#fff;
}

.str a:hover{
    color:rgb(0, 255, 149);
}
.container{
    width: 320px;
    height: 100px;
    display: inline-block;
}
.errorMsg,.errorMsg2{
    color:red;
    font-size: medium;
    font-weight: bold;
    font-family: "楷体";
}
#username,#password,#StuID,#Username,#Email,#Password,#Password2,#EnqueueTime,#department,#yan{
    border-radius: 20px;
    border:1px solid aquamarine;
}
.title2{
    float: right;
    height: 40px;
}
.form-container {
    position:absolute;
    top:0;
    height:100%;
    transition:all .6s ease-in-out;
}
.sign-in-container {
    left:0;
    width:50%;
    z-index:2;
}
.sign-up-container {
    left:0;
    width:50%;
    z-index:1;
    opacity:0;
}
.overlay-container {
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
    overflow:hidden;
    transition:transform .6s ease-in-out;
    z-index:100;
}
.overlay {
    background:lightseagreen;
    background:linear-gradient(to right,lightseagreen,lightseagreen) no-repeat 0 0 / cover;
    color:#fff;
    position:relative;
    left:-100%;
    height:100%;
    width:200%;
    transform:translateY(0);
    transition:transform .6s ease-in-out;
}
.overlay-panel {
    position:absolute;
    top:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0 40px;
    height:100%;
    width:50%;
    text-align:center;
    transform:translateY(0);
    transition:transform .6s ease-in-out;
}
.overlay-right {
    right:0;
    transform:translateY(0);
}
.overlay-left {
    transform:translateY(-20%);
}
/* Move signin to right */
.dowebok.right-panel-active .sign-in-container {
    transform:translateY(100%);
}
/* Move overlay to left */
.dowebok.right-panel-active .overlay-container {
    transform:translateX(-100%);
}
/* Bring signup over signin */
.dowebok.right-panel-active .sign-up-container {
    transform:translateX(100%);
    opacity:1;
    z-index:5;
}
/* Move overlay back to right */
.dowebok.right-panel-active .overlay {
    transform:translateX(50%);
}
/* Bring back the text to center */
.dowebok.right-panel-active .overlay-left {
    transform:translateY(0);
}
/* Same effect for right */
.dowebok.right-panel-active .overlay-right {
    transform:translateY(20%);
}
#Email{
    width:100%;
}
#wert{
    width:100%;
    padding: 0;
}
#yan{
    width: 100%;
}
#yan2{
    width: 40px;
    padding: 0;
}
.yanz{
    width:100%;
    height:auto;
    display: inline-flex;
}
#wert,#yan2{
    border-radius: 20px;
    border:1px solid yellow;
}

.showMessage{
    width: 200px;
    height:40px;
    padding: 5px 10px;
    border:2px solid palegoldenrod;
    border-radius: 10px;
    position: fixed;
    top: 5%;
    left: 70%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.showMessageSuccess {
    background-color: #00B7EE;
}

.showMessageError {
    background-color: #ff0000;
}

.control{
    display: inline-flex;
    width:100%;
    height:40px;
    margin-top: 4px;
}

#adveri{
    margin:0;
    border:1px solid aquamarine;
    border-radius: 10px;
    padding:2px;
}

#control{
    width:40%;
    margin:0;
    margin-top: 6px;
    margin-left: 20px;
}